<nav class="navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" >
        <i class="fa-solid fa-building-columns me-2"></i>
        Swasti Bank
      </a>
    </div>
  </nav>

  <!-- login design -->
  <div class="container-fluid mt-3">
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus aut aliquid nulla magnam ipsum maiores voluptas illum. Illum est quae quis veniam. Quibusdam iure saepe debitis in, aliquam neque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis alias ab voluptatibus, nobis autem officia illum, cum ducimus et dolores porro eaque vel ut recusandae atque, ex veritatis velit repudiandae?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia optio vero voluptatibus, quos dicta necessitatibus. Rerum magnam doloremque molestiae, commodi necessitatibus esse ipsa, exercitationem quae blanditiis magni maxime, veniam culpa!</p>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-lg-7 mt-2 text-center">
            <!-- image -->
            <img  src="https://cdni.iconscout.com/illustration/premium/thumb/net-banking-2890189-2406731.png" alt="login logo">
        </div>
        <div class="col-lg-5 mt-5">
           
            <!-- form -->
            <form [formGroup]="loginForm" style="margin-top: 60px;" class="border p-3 rounded" (ngSubmit)="login()">
                <h3>Login Form</h3>
                <div class="form-floating mb-3">
                    <input name="acno" formControlName="acno" type="text" class="form-control" id="floatingInputacno" placeholder="Account Number">
                    <label for="floatingInput">Account Number</label>
                  </div>

                  <!-- acno error msg -->
                  <div *ngIf="this.loginForm.get('acno')?.errors&&this.loginForm.get('acno')?.touched" class="text-danger mb-3"> Invalid Account Number</div>

                  <div class="form-floating">
                    <input name="password" formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  <!-- pswd error msg -->
                   <div *ngIf="this.loginForm.get('password')?.errors&&this.loginForm.get('password')?.touched" class="text-danger mb-3"> Invalid Password</div>
                  <!-- loginErrorMsg -->
                  <div class="mt-2 mb-2 text-danger fw-bolder"> {{loginErrorMsg}} </div>
                  <div class="mt-4">
                    <button type="submit" class="btn btn-primary me-3">Log In 
                      <!-- spinner -->
                      <div *ngIf="loginSuccessStatus" class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </button>
                    <span>
                        New User? Click here to <a routerLink="register">register</a>
                    </span> 
                  </div>
            </form>
        </div>
    </div>
  </div>